<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="en-US"><!--<![endif]-->
    <head>
        <script src="/content/js/ga.js" async="" type="text/javascript"></script><script type="text/javascript">//<![CDATA[
            // Google Analytics for WordPress by Yoast v4.2.3 | http://yoast.com/wordpress/google-analytics/
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount','UA-26548325-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        //]]></script>
        
        <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?50"></script>
        
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
            
        <script type="text/javascript" src="/content/js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="/content/css/style.css">
        <link href="/content/css/skin.css" rel="stylesheet" type="text/css" id="webfish-no-follow-style">
        
        {% block headerContent %}
        <title>Украинская сторонка | Путешествия по Украине</title>
        <link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Feed" href="http://ukrainianside.com/feed/">
        <link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Comments Feed" href="http://ukrainianside.com/comments/feed/">
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ukrainianside.com/xmlrpc.php?rsd">
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ukrainianside.com/wp-includes/wlwmanifest.xml"> 
        {% endblock %}
    </head>
    <body class="{% block bodyStyles %}home blog single-author two-column right-sidebar{% endblock %}">
        
        <div id="fb-root"></div>
        <script type="text/javascript">
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '257563244359753',
              status     : true,
              cookie     : true,
              xfbml      : true,
              //oauth      : true,
            });
          };
        
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                VK.init({apiId: 3039427, onlyWidgets: true});
            });
        </script>
        
        <div id="page" class="hfeed">
            <header id="branding" role="banner">
                    <hgroup>
                        <h1 id="site-title"><span><a href="http://ukrainianside.com/" title="Украинская сторонка" rel="home">Украинская сторонка</a></span></h1>
                        <h2 id="site-description">Путешествия по Украине</h2>
                    </hgroup>
                    <hr />
            </header><!-- #branding -->
    {% block mainContent %}
    {% endblock %}
</html>