{% extends "base.html" %}

{% block headerContent %}
<title>Общее | Украинская сторонка</title>
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Feed" href="http://ukrainianside.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Comments Feed" href="http://ukrainianside.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Общее Category Feed" href="http://ukrainianside.com/category/general/feed/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ukrainianside.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ukrainianside.com/wp-includes/wlwmanifest.xml">
{% endblock %}


{% block bodyStyles %}archive category category-general category-3 single-author two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<section id="primary">
			<div id="content" role="main">

			
				<header class="page-header">
					<h1 class="page-title">Category Archives: <span>Общее</span></h1>

									</header>

				
								
					
	<article id="post-5" class="post-5 post type-post status-publish format-standard hentry category-general">
		<header class="entry-header">
						<h1 class="entry-title"><a href="http://ukrainianside.com/2011/general/introduction/" title="Permalink to Предисловие" rel="bookmark">Предисловие</a></h1>
			
						<div class="entry-meta">
				<span class="sep">Posted on </span><a href="http://ukrainianside.com/2011/general/introduction/" title="8:02 am" rel="bookmark"><time class="entry-date" datetime="2011-10-11T08:02:35+00:00" pubdate="">October 11, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="http://ukrainianside.com/author/ukrainianside/" title="View all posts by ukrainian side" rel="author">ukrainian side</a></span></span>			</div><!-- .entry-meta -->
			
						<div class="comments-link">
				<a href="http://ukrainianside.com/2011/general/introduction/#respond" title="Comment on Предисловие"><span class="leave-reply">Reply</span></a>			</div>
					</header><!-- .entry-header -->

				<div class="entry-content">
			<p>Этим постом я хотел бы немного расказать зачем я начал этот блог.</p>
<p>Так вот, всё началось с того что в начале я начал интересоваться 
историей региона в котором я вырос, и этот интерес открыл мне глаза, 
вместе с тем что в школе много интересного из истории нашей страны не 
рассказывают, но и на то что есть столько много интересных мест в 
пределах нашей страны, и что за яркими впечатлениями не надо ездить за 
моря, но вот когда наберёшся решимости октрыть для себя какой-то уголок 
нашей страны, появляеться уйма препятствий которые надо преодолеть – 
узнать точно место расположения, как туда добраться, где жить и многое 
другое. И вот именно поэтому я решил делиться опытом своих поездок с 
другими, что бы им было легче открывать для себя эти уголки нашей 
страны.</p>
					</div><!-- .entry-content -->
		
		<footer class="entry-meta">
			<span class="cat-links">
				<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span>
				<a href="http://ukrainianside.com/category/general/" title="View all posts in Общее" rel="category tag">Общее</a>
			</span>	
		</footer><!-- #entry-meta -->
	</article><!-- #post-5 -->

				
				
			
			</div><!-- #content -->
		</section><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
							<aside class="widget">

				</aside>
					</div><!-- #secondary .widget-area -->

	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}