{% extends "base.html" %}

{% block headerContent %}
<title>Греческие | Украинская сторонка</title>
{% endblock %}


{% block bodyStyles %}archive category category-greek category-11 single-author two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<section id="primary">
			<div id="content" role="main">

			
				<header class="page-header">
					<h1 class="page-title">Category Archives: <span>Греческие</span></h1>

									</header>

				
								
					
	<article id="post-41" class="post-41 post type-post status-publish format-standard hentry category-greek">
		<header class="entry-header">
			<h1 class="entry-title"><a href="http://ukrainianside.com/2011/old-ruins/greek/trip-to-olbia/" title="Permalink to Поездка в Ольвию" rel="bookmark">Поездка в Ольвию</a></h1>
		</header><!-- .entry-header -->

				<div class="entry-content">
			<p>Эта поездка была моей первой которая предполагала путешествие не 
на прямую в нужную точку а с пересадками, конечно тот кто отправляется в
 подобную поездку на своей машине или часть пути проезжает на такси не 
встретиться со всеми препятствиями на пути и момент приезда в конечную 
точку не будит столь сладок <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley">
  – но это отдельная тема. Так вот, в виду того что это была первая 
поездка, не всё я, так сказать, законспектировал кое что не в полной 
мере, но в следующие разы обещаю исправиться <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley"> </p>
<p> <a href="http://ukrainianside.com/2011/old-ruins/greek/trip-to-olbia/#more-41" class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
					</div><!-- .entry-content -->
		
		<footer class="entry-meta">
			<span class="cat-links">
				<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span>
				<a href="http://ukrainianside.com/category/old-ruins/greek/" title="View all posts in Греческие" rel="category tag">Греческие</a>
			</span>	
		</footer><!-- #entry-meta -->
	</article><!-- #post-41 -->

				
				
			
			</div><!-- #content -->
		</section><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
							<aside class="widget">

				</aside>
					</div><!-- #secondary .widget-area -->

	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}