{% extends "base.html" %}

{% from "macroses/header.macro" import header as header%}
{% from "macroses/footer.macro" import footer as footer%}


{% block headerContent %}
<title>Греческие | Украинская сторонка</title>
{% endblock %}


{% block bodyStyles %}archive category category-greek category-11 single-author two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<section id="primary">
			<div id="content" role="main">

			
				<header class="page-header">
					<h1 class="page-title">Category Archives: <span>Греческие</span></h1>

									</header>

	<article class="post type-post status-publish format-standard hentry">
		{{header('visit-bilhorod-dnistrovskyi')}}
		<div class="entry-content">
			<p>Идея посещения этого города у меня возникла, главным образом, из-за того что на его территории находятся
			руины древнегреческого города Тиры, ну а Аккерманская крепость для меня была второстепенна, хотя и не менее
			интересна.</p>
			<p> <a href="{{ getAticleUrlByAlias('visit-bilhorod-dnistrovskyi') }}#more"
				   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
		</div><!-- .entry-content -->
		{{footer('greek')}}
	</article>
								
					
	<article class="post type-post status-publish format-standard hentry">
		{{header('trip-to-olbia')}}
				<div class="entry-content">
			<p>Эта поездка была моей первой которая предполагала путешествие не 
на прямую в нужную точку а с пересадками, конечно тот кто отправляется в
 подобную поездку на своей машине или часть пути проезжает на такси не 
встретиться со всеми препятствиями на пути и момент приезда в конечную 
точку не будит столь сладок <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley">
  – но это отдельная тема. Так вот, в виду того что это была первая 
поездка, не всё я, так сказать, законспектировал кое что не в полной 
мере, но в следующие разы обещаю исправиться <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley"> </p>
<p> <a href="{{ getAticleUrlByAlias('trip-to-olbia') }}#more" class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
					</div><!-- .entry-content -->
		{{footer('greek')}}
	</article>

				
				
			
			</div><!-- #content -->
		</section><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
							<aside class="widget">

				</aside>
					</div><!-- #secondary .widget-area -->

	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}