{% extends "base.html" %}

{% from "macroses/header.macro" import header as header%}
{% from "macroses/footer.macro" import footer as footer%}


{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div id="content" role="main">


	<article id="post-200" class="post-157 post type-post status-publish format-standard hentry category-information">
		{{header('trip-to-kinburn-peninsula')}}
		<div class="entry-content">
			<p>{{getAticleDescByAlias('trip-to-kinburn-peninsula')}}</p>
			<p>
				<a href="{{ getAticleUrlByAlias('trip-to-kinburn-peninsula') }}#more-200"
					class="more-link">{{continueReading}}<span class="meta-nav">→</span></a>
			</p>
		</div><!-- .entry-content -->
		{{footer('nature')}}
	</article><!-- #post-200 -->
	
	
	<article id="post-300" class="post-157 post type-post status-publish format-standard hentry category-information">
		{{header('visit-bilhorod-dnistrovskyi')}}
		<div class="entry-content">
			<p>{{getAticleDescByAlias('visit-bilhorod-dnistrovskyi')}}</p>
			<p>
				<a href="{{ getAticleUrlByAlias('visit-bilhorod-dnistrovskyi') }}#more-300"
				   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a>
			</p>
		</div><!-- .entry-content -->
		{{footer('greek')}}
	</article><!-- #post-300 -->
				
								
					
	<article id="post-157" class="post-157 post type-post status-publish format-standard hentry category-information">
		{{header('national-archaeological-park-olbia')}}
		<div class="entry-content">
			<p>{{getAticleDescByAlias('national-archaeological-park-olbia')}}</p>
			<p>
				<a href="{{ getAticleUrlByAlias('national-archaeological-park-olbia') }}#more-157"
				   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a>
			</p>
		</div><!-- .entry-content -->
		{{footer('information')}}
	</article><!-- #post-157 -->

				
					
	<article id="post-73" class="post-73 post type-post status-publish format-standard hentry category-towns">
		{{header('one-day-in-odessa')}}
		<div class="entry-content">
			<p>{{getAticleDescByAlias('one-day-in-odessa')}}</p>
			<p>
				<a href="{{ getAticleUrlByAlias('one-day-in-odessa') }}#more-73"
				   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a>
			</p>
		</div><!-- .entry-content -->
		{{footer('towns')}}
	</article><!-- #post-73 -->

				
					
	<article id="post-93" class="post-93 post type-post status-publish format-standard hentry category-information">
		{{header('odessa-region-trains-timetable')}}
		<div class="entry-content">
			<p> <a href="{{ getAticleUrlByAlias('odessa-region-trains-timetable') }}#more-93" class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
		</div><!-- .entry-content -->
		{{footer('information')}}
	</article><!-- #post-93 -->

				
					
	<article id="post-41" class="post-41 post type-post status-publish format-standard hentry category-greek">
		{{header('trip-to-olbia')}}
		<div class="entry-content">
			<p>{{getAticleDescByAlias('trip-to-olbia')}}</p>
			<p>
				<a href="{{ getAticleUrlByAlias('trip-to-olbia') }}#more-41"
				   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a>
			</p>
		</div><!-- .entry-content -->
		{{footer('greek')}}
	</article><!-- #post-41 -->

				
				
			
			</div><!-- #content -->
		</div><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
							<aside class="widget">

				</aside>
		</div><!-- #secondary .widget-area -->

	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}