{% extends "base.html" %}

{% block headerContent %}
<title>Информация | Украинская сторонка</title>
{% endblock %}


{% block bodyStyles %}archive category category-information category-18 single-author two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<section id="primary">
			<div id="content" role="main">

			
				<header class="page-header">
					<h1 class="page-title">Category Archives: <span>Информация</span></h1>

									</header>

				
								
					
	<article class="post type-post status-publish format-standard hentry">
		<header class="entry-header">
			<h1 class="entry-title"><a href="{{ getAticleUrlByAlias('national-archaeological-park-olbia') }}" title="Permalink to Национальный археологический заповедник “Ольвия”" rel="bookmark">Национальный археологический заповедник “Ольвия”</a></h1>
		</header><!-- .entry-header -->

				<div class="entry-content">
			<p>В сорока километрах от Николаева, на высоком холмистом берегу 
Бужского лимана, находиться место, которое уже много десятилетий 
привлекает к себе исследователей и всех, небезразличных к прошлому. Это –
 археологический заповедник “Ольвия”, которому в 2002 году Указом 
Президента Украины присвоено статус национального.</p>
<p> <a href="{{ getAticleUrlByAlias('national-archaeological-park-olbia') }}#more" class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
					</div><!-- .entry-content -->
		
		<footer class="entry-meta">
			<span class="cat-links">
				<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span>
				<a href="{{ getCategoryUrlByAlias('information') }}" title="View all posts in Информация" rel="category tag">Информация</a>
			</span>
		</footer><!-- #entry-meta -->
	</article>

				
					
	<article class="post type-post status-publish format-standard hentry">
		<header class="entry-header">
			<h1 class="entry-title"><a href="{{ getAticleUrlByAlias('odessa-region-trains-timetable') }}" title="Permalink to Расписание пригородных поездов Одесского региона" rel="bookmark">Расписание пригородных поездов Одесского региона</a></h1>
		</header><!-- .entry-header -->

				<div class="entry-content">
			<p> <a href="{{ getAticleUrlByAlias('odessa-region-trains-timetable') }}#more" class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
					</div><!-- .entry-content -->
		
		<footer class="entry-meta">
			<span class="cat-links">
				<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span> <a href="{{ getCategoryUrlByAlias('information') }}" title="View all posts in Информация" rel="category tag">Информация</a>
			</span>	
		</footer><!-- #entry-meta -->
	</article>

				
				
			
			</div><!-- #content -->
		</section><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
							<aside class="widget">

				</aside>
					</div><!-- #secondary .widget-area -->

	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}