{% extends "base.html" %}

{% block headerContent %}
<title>Информация | Украинская сторонка</title>
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Feed" href="http://ukrainianside.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Comments Feed" href="http://ukrainianside.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Информация Category Feed" href="http://ukrainianside.com/category/information/feed/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ukrainianside.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ukrainianside.com/wp-includes/wlwmanifest.xml">
{% endblock %}


{% block bodyStyles %}archive category category-information category-18 single-author two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<section id="primary">
			<div id="content" role="main">

			
				<header class="page-header">
					<h1 class="page-title">Category Archives: <span>Информация</span></h1>

									</header>

				
								
					
	<article id="post-157" class="post-157 post type-post status-publish format-standard hentry category-information">
		<header class="entry-header">
						<h1 class="entry-title"><a href="http://ukrainianside.com/2012/information/national-archaeological-park-olbia/" title="Permalink to Национальный археологический заповедник “Ольвия”" rel="bookmark">Национальный археологический заповедник “Ольвия”</a></h1>
			
						<div class="entry-meta">
				<span class="sep">Posted on </span><a href="http://ukrainianside.com/2012/information/national-archaeological-park-olbia/" title="1:33 pm" rel="bookmark"><time class="entry-date" datetime="2012-01-07T13:33:01+00:00" pubdate="">January 7, 2012</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="http://ukrainianside.com/author/ukrainianside/" title="View all posts by ukrainian side" rel="author">ukrainian side</a></span></span>			</div><!-- .entry-meta -->
			
						<div class="comments-link">
				<a href="http://ukrainianside.com/2012/information/national-archaeological-park-olbia/#respond" title="Comment on Национальный археологический заповедник “Ольвия”"><span class="leave-reply">Reply</span></a>			</div>
					</header><!-- .entry-header -->

				<div class="entry-content">
			<p>В сорока километрах от Николаева, на высоком холмистом берегу 
Бужского лимана, находиться место, которое уже много десятилетий 
привлекает к себе исследователей и всех, небезразличных к прошлому. Это –
 археологический заповедник “Ольвия”, которому в 2002 году Указом 
Президента Украины присвоено статус национального.</p>
<p> <a href="http://ukrainianside.com/2012/information/national-archaeological-park-olbia/#more-157" class="more-link">Continue reading <span class="meta-nav">→</span></a></p>
					</div><!-- .entry-content -->
		
		<footer class="entry-meta">
			<span class="cat-links">
				<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span>
				<a href="http://ukrainianside.com/category/information/" title="View all posts in Информация" rel="category tag">Информация</a>
			</span>
		</footer><!-- #entry-meta -->
	</article><!-- #post-157 -->

				
					
	<article id="post-93" class="post-93 post type-post status-publish format-standard hentry category-information">
		<header class="entry-header">
						<h1 class="entry-title"><a href="http://ukrainianside.com/2011/information/odessa-region-trains-timetable/" title="Permalink to Расписание пригородных поездов Одесского региона" rel="bookmark">Расписание пригородных поездов Одесского региона</a></h1>
			
						<div class="entry-meta">
				<span class="sep">Posted on </span><a href="http://ukrainianside.com/2011/information/odessa-region-trains-timetable/" title="4:00 pm" rel="bookmark"><time class="entry-date" datetime="2011-11-01T16:00:32+00:00" pubdate="">November 1, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="http://ukrainianside.com/author/ukrainianside/" title="View all posts by ukrainian side" rel="author">ukrainian side</a></span></span>			</div><!-- .entry-meta -->
			
						<div class="comments-link">
				<a href="http://ukrainianside.com/2011/information/odessa-region-trains-timetable/#respond" title="Comment on Расписание пригородных поездов Одесского региона"><span class="leave-reply">Reply</span></a>			</div>
					</header><!-- .entry-header -->

				<div class="entry-content">
			<p> <a href="http://ukrainianside.com/2011/information/odessa-region-trains-timetable/#more-93" class="more-link">Continue reading <span class="meta-nav">→</span></a></p>
					</div><!-- .entry-content -->
		
		<footer class="entry-meta">
			<span class="cat-links">
				<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span> <a href="http://ukrainianside.com/category/information/" title="View all posts in Информация" rel="category tag">Информация</a>
			</span>	
		</footer><!-- #entry-meta -->
	</article><!-- #post-93 -->

				
				
			
			</div><!-- #content -->
		</section><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
							<aside class="widget">

				</aside>
					</div><!-- #secondary .widget-area -->

	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}