{% extends "base.html" %}

{% block headerContent %}
<title>Предисловие | Украинская сторонка</title>
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Feed" href="http://ukrainianside.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Comments Feed" href="http://ukrainianside.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Украинская сторонка » Предисловие Comments Feed" href="http://ukrainianside.com/2011/general/introduction/feed/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ukrainianside.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ukrainianside.com/wp-includes/wlwmanifest.xml"> 
<link rel="next" title="Поездка в Ольвию" href="http://ukrainianside.com/2011/old-ruins/greek/trip-to-olbia/">
<link rel="canonical" href="http://ukrainianside.com/2011/general/introduction/">
{% endblock %}

{% block mainContent %}
<body class="single single-post postid-5 single-format-standard single-author singular two-column right-sidebar">
<div id="page" class="hfeed">
	<header id="branding" role="banner">

			<hgroup>
				<h1 id="site-title"><span><a href="http://ukrainianside.com/" title="Украинская сторонка" rel="home">Украинская сторонка</a></span></h1>
				<h2 id="site-description">Путешествия по Украине</h2>
			</hgroup>

			<nav id="access" role="navigation">
				<h3 class="assistive-text">Main menu</h3>
								<div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
				<div class="skip-link"><a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a></div>
								<div class="menu"><ul><li><a href="http://ukrainianside.com/" title="Home">Home</a></li></ul></div>
			</nav><!-- #access -->
	</header><!-- #branding -->


	<div id="main">
		<div id="primary">
			<div id="content" role="main">

				
					<nav id="nav-single">
						<h3 class="assistive-text">Post navigation</h3>
						<span class="nav-previous"></span>
						<span class="nav-next"><a href="http://ukrainianside.com/2011/old-ruins/greek/trip-to-olbia/" rel="next">Next <span class="meta-nav">→</span></a></span>
					</nav><!-- #nav-single -->

					
<article id="post-5" class="post-5 post type-post status-publish format-standard hentry category-general">
	<header class="entry-header">
		<h1 class="entry-title">Предисловие</h1>

				<div class="entry-meta">
			<span class="sep">Posted on </span><a href="http://ukrainianside.com/2011/general/introduction/" title="8:02 am" rel="bookmark"><time class="entry-date" datetime="2011-10-11T08:02:35+00:00" pubdate="">October 11, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="http://ukrainianside.com/author/ukrainianside/" title="View all posts by ukrainian side" rel="author">ukrainian side</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->

	<div class="entry-content">
		<p>Этим постом я хотел бы немного расказать зачем я начал этот блог.</p>
<p>Так вот, всё началось с того что в начале я начал интересоваться 
историей региона в котором я вырос, и этот интерес открыл мне глаза, 
вместе с тем что в школе много интересного из истории нашей страны не 
рассказывают, но и на то что есть столько много интересных мест в 
пределах нашей страны, и что за яркими впечатлениями не надо ездить за 
моря, но вот когда наберёшся решимости октрыть для себя какой-то уголок 
нашей страны, появляеться уйма препятствий которые надо преодолеть – 
узнать точно место расположения, как туда добраться, где жить и многое 
другое. И вот именно поэтому я решил делиться опытом своих поездок с 
другими, что бы им было легче открывать для себя эти уголки нашей 
страны.</p>
			</div><!-- .entry-content -->

	<footer class="entry-meta">
		This entry was posted in <a href="http://ukrainianside.com/category/general/" title="View all posts in Общее" rel="category tag">Общее</a> by <a href="http://ukrainianside.com/author/ukrainianside/">ukrainian side</a>. Bookmark the <a href="http://ukrainianside.com/2011/general/introduction/" title="Permalink to Предисловие" rel="bookmark">permalink</a>.		
			</footer><!-- .entry-meta -->
</article><!-- #post-5 -->
				
			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->

	<footer id="colophon" role="contentinfo">

			

			<div id="site-generator">
							</div>
	</footer><!-- #colophon -->
</div><!-- #page -->



</body>
{% endblock %}