{% extends "base.html" %}

{% block headerContent %}
<title>Предисловие | Украинская сторонка</title>
<link rel="next" title="Поездка в Ольвию" href="http://ukrainianside.com/2011/old-ruins/greek/trip-to-olbia/">
<link rel="canonical" href="http://ukrainianside.com/2011/general/introduction/">
{% endblock %}


{% block bodyStyles %}single single-post postid-5 single-format-standard single-author singular two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div id="content" role="main">

				
					<nav id="nav-single">
						<h3 class="assistive-text">Post navigation</h3>
						<span class="nav-previous"></span>
						<span class="nav-next"><a href="http://ukrainianside.com/2011/old-ruins/greek/trip-to-olbia/" rel="next">Next <span class="meta-nav">→</span></a></span>
					</nav><!-- #nav-single -->

					
<article id="post-5" class="post-5 post type-post status-publish format-standard hentry category-general">
	<header class="entry-header">
		<h1 class="entry-title">Предисловие</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>Этим постом я хотел бы немного расказать зачем я начал этот блог.</p>
<p>Так вот, всё началось с того что в начале я начал интересоваться 
историей региона в котором я вырос, и этот интерес открыл мне глаза, 
вместе с тем что в школе много интересного из истории нашей страны не 
рассказывают, но и на то что есть столько много интересных мест в 
пределах нашей страны, и что за яркими впечатлениями не надо ездить за 
моря, но вот когда наберёшся решимости октрыть для себя какой-то уголок 
нашей страны, появляеться уйма препятствий которые надо преодолеть – 
узнать точно место расположения, как туда добраться, где жить и многое 
другое. И вот именно поэтому я решил делиться опытом своих поездок с 
другими, что бы им было легче открывать для себя эти уголки нашей 
страны.</p>
			</div><!-- .entry-content -->

	<footer class="entry-meta">
		{{ postedIn }}<a href="{{ getCategoryUrlByAlias('general') }}" title="Просмотреть все заметки в Общее" rel="category tag">Общее</a>
	</footer><!-- .entry-meta -->
</article><!-- #post-5 -->
				
			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}